.card {
    background-color: transparent;
    width: 65px;
    height: 90px;
    perspective: 1000px;
    user-select: none;
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transition-timing-function: ease-in;
    transform-style: preserve-3d;
  }
  
  .card.flip .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .card-front {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    font-size: 1.5rem;
  }
  
  .card-back {
    border-radius: 13px;
    background-color: dodgerblue;
    color: white;
    border: 4px solid white;
    transform: rotateY(180deg);
  }